@{
    ViewData["Title"] = "Welcome!";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Outdated Calendar!</h1>
    <p>Login or register above to get started with you networking experience!</p>
</div>
